*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #ffffff;
    width: 30%;
    min-width: 500px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-55%, -50%);
    padding-top: 0;
    padding-bottom: 60px;
    border-radius: 25px;
    border: 4px solid  #00c0ff;
    
}

.timer-Display{
    width: 100%;
    background: #ffffff;
    padding: 30px 0;
    font-family: "Roboto", sans-serif;
    color: #00c0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border-radius: 10px 10px 0 0;
   
}

.laps{
    text-align: center;
    color: #00c0ff;
    margin-top: 10px;
    text-decoration: none;
}

.buttons{
    width: 65%;
    margin: 60px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.buttons button{
    padding: 10px 20px;
    background-color: #00c0ff;
    color: #ffffff;
    border: none;
    font-family:  "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    cursor: pointer;
    
}

.buttons button:hover{
    background-color:#ffffff;
    border-radius: 3px solid  ;
    color: #00c0ff;
    border: 3px solid #00c0ff;
    padding: 7px 17px;
    
} 
@media (max-width: 400px){
    .container{
      min-width: 340px;
      padding-top: 0px;
      padding-bottom: 20px;
      left: 215px;
      top: 480px;
      width: 25%;
    }
    .buttons button{
      font-size: 12px; 
    }
    .timer-Display{
      font-size: 2rem;
      padding: 20px;
    }
     .lapse{
      left:55px;
      position: relative;
    }
     .lapse1{
      left:55px;
      position: relative;
      width: 100px;
  }
  .buttons{
    margin: 35px;
  }
  }
  @media (min-width: 401px)and (max-width: 500px){
    .container{
      min-width: 340px;
      padding-top: 0px;
      padding-bottom: 20px;
      left: 213px;
      top: 530px;
      width: 25%;
    }
    .buttons button{
      font-size: 12px; 
    }
    .timer-Display{
      font-size: 2rem;
      padding: 20px;
    }
     .lapse{
      left:55px;
      position: relative;
    }
     .lapse1{
      left:55px;
      position: relative;
      width: 100px;
  }
  .buttons{
    margin: 35px;
  }
  }
  @media (min-width: 960px) and (max-width: 1220px) {
    .container{
      min-width: 440px;
      padding-top: 0px;
      padding-bottom: 20px;
      left:520px;
      top: 980px;
      width: 25%;
      position: absolute;
    }
    .buttons button{
      font-size: 19px; 
    }
    .timer-Display{
      font-size: 2rem;
      padding: 20px;
    }
     .lapse{
      left:55px;
      position: relative;
    }
     .lapse1{
      left:55px;
      position: relative;
      width: 100px;
  }
  .buttons{
    margin: 45px;
  }
}
